.upload-tab{
	width: 50%;
	text-align: center;
}

#video-path{
	cursor: default;
}

#song-selection{
	height: 34px;
	cursor: default;
}

#upload-btn{
	width: 100%;
}

//##############--MY UPLOADS-###############
#edit-video-text{
	padding-top: 50px;
}