#upload-details{
  margin: 0 35px;
}

#upload-details{
	hr{
		margin:5px 0px;
	}
}

#upload-terms{
  margin-left: 50px;
}

#upload-submit{
  float: right;
  margin-right: 50px;
  border-radius: 0px;
}