<div class="row row-container banner-container">
  <img id="artist-banner-pic" ng-src="{{artist.bannerPic}}">    
  <h3 class="artist-header heading-label" id="title-label">
    <span>{{artist.artistName}}</span>
  </h3>
</div>

<!-- TOP VIDEOS -->
<div class="row">
	<div class="col-md-12 artist-sub-div">
		<div class="row">
		  <div class="col-md-12">
				<div class="clearfix bottom-border">	
					<label class="artist-sub-label">Top Videos</label>
		  	</div>
				<div id="top-video" ng-show="artist.hasVideos">
					<slick infinite="false" slides-to-show="5" slides-to-scroll="1" responsive="artist.responsive" arrows="true">
						<div ng-repeat="videos in artist.topVideos track by $index">
							<div id="top-video-tile">
								<label>Uploaded by <a ui-sref="profile.profile.user({user: videos.user})">{{videos.user}}</a></label>
								<img class="video-pic" ng-src="{{videos.image}}">
								<span ui-sref="video({name: artist.artistName, playlist: videos.playlistId, show: videos.showId, id: videos.videoId})">
						      <h5>{{videos.date}}</h5>
						      <h5>{{videos.location}}</h5>
						      <h5>{{videos.venue}}</h5>
						    </span>
							</div>
							<h5 id="top-video-rating">
					      <span><i class="fa fa-volume-off" aria-hidden="true"></i>{{videos.audio}} 
					            <i class="fa fa-video-camera" aria-hidden="true"></i>{{videos.video}}
					      </span>
					    </h5>
					    <h5 id="top-video-time"><span>{{videos.time}}</span></h5>
					    <h5 id="top-video-views">
					      <span>{{ videos.views}} <i class="fa fa-eye" aria-hidden="true"></i></span>
					    </h5>
					    <h5 id="top-video-songs">
					    	<a title="{{videos.songsString}}" ui-sref="video({name: artist.artistName, playlist: videos.playlistId, show: videos.showId, id: videos.videoId})">
					    		{{videos.songsString}}
					    	</a>
					    </h5>
						</div>
					</slick>
				</div>
				<div class="clearfix bottom-border" ng-show="artist.hasVideos">	
					<label class="artist-sub-link" ui-sref="artist.videos({name: artist.artistName})">more videos <i class="ion-arrow-right-b"></i></label>
		  	</div>
		  	<div class="clearfix bottom-border" ng-show="!artist.hasVideos">	
					<label class="artist-sub-link">No videos available.</label>
		  	</div>				
		  </div>
		</div>  
	</div>  
</div>

<!-- TICKETS AND MERCH -->
<div class="row">
	<div class="col-md-12 artist-sub-div">
		<div class="row">
			<!-- TICKETS -->
		  <div class="col-md-6 col-xs-12">
				<div class="clearfix bottom-border">	
					<label class="artist-sub-label">Tickets</label>
		  	</div>
				<div class="artist-table" ng-show="artist.hasTickets">
					<div class="table-responsive">
						<table class="table table-hover">
							<tr class="table-header">
								<th id="venue-header">Venue</th>
								<th id="date-header">Date</th>
								<th id="ticket-header">Tickets</th>
							</tr>
							<tr class="table-data" ng-repeat="ticket in artist.tickets">
								<td class="venue-data">{{ticket.venue}}</br>{{ticket.city}}, {{ticket.state}} {{ticket.country}}</td>
								<td class="date-data">{{ticket.date}}</td>
								<td class="ticket-data"><button class="btn btn-default" ng-click="artist.openLink(ticket.url)">Get Tickets</button></td>
							</tr>
						</table>		 
					</div>
				</div>
				<div class="clearfix bottom-border" ng-show="artist.hasTickets">	
					<label class="artist-sub-link" ui-sref="tickets.search({query: artist.artistName})">more tickets <i class="ion-arrow-right-b"></i></label>
		  	</div>
		  	<div class="clearfix bottom-border" ng-show="!artist.hasTickets">	
					<label class="">No tickets available.</label>
		  	</div>				
		  </div>
		  <!-- MERCH -->
		  <div class="col-md-6 col-xs-12">
		  	<div class="clearfix bottom-border">
					<label class="artist-sub-label">Merch</label>
				</div>
				<div class="artist-merch-div" ng-show="artist.hasMerch">
					<div class="col-sm-4 col-xs-6 image" ng-repeat="merch in artist.merch" ui-sref="merch.product({id: merch.id})">
						<img class="merch-event-tile" ng-src="{{merch.pic}}">
						<h4 class="artist-merch-price"><span>{{merch.price | currency}}</span></h4>
						<h6 class="artist-merch-name"><span>{{merch.name}}</span></h6>
					</div>				
				</div>
		  	<div class="clearfix bottom-border" ng-show="artist.hasMerch">
					<label class="artist-sub-link" ui-sref="merch.search({query: artist.artistName})">more merch <i class="ion-arrow-right-b"></i></label>
				</div>
		  	<div class="clearfix bottom-border" ng-show="!artist.hasMerch">
					<label class="artist-sub-link">No merch available.</label>
				</div>													
		  </div>
		</div>  
	</div>  
</div>

<!-- PREVIOUS SHOWS AND ALBUMS -->
<div class="row">
	<div class="col-md-12 artist-sub-div">
		<div class="row">
			<!-- PREVIOUS SHOWS -->
		  <div class="col-md-6 col-xs-12">
				<div class="clearfix bottom-border">	
					<label class="artist-sub-label">Previous Shows</label>
		  	</div>
				<div class="" class="artist-table" ng-show="artist.hasShows">
					<div class="table-responsive">
						<table class="table table-hover">
							<tr class="table-header">
								<th id="venue-header">Venue</th>
								<th id="venue-header">Location</th>
								<th id="date-header">Date</th>
							</tr>
							<tr class="table-data" ng-repeat="shows in artist.displayShows">
								<td class="venue-data">{{shows.venue}}</td>
								<td class="city-data">{{shows.city}}, {{shows.state}}<br> {{shows.country}}</td>
								<td class="date-data">{{shows.date}}</td>
							</tr>
						</table>		 
					</div>
				</div>
				<div class="clearfix bottom-border" ng-show="artist.hasShows">	
					<label class="artist-sub-link" ui-sref="artist.shows({name: artist.artistName})">more previous shows <i class="ion-arrow-right-b"></i></label>
		  	</div>
		  	<div class="clearfix bottom-border" ng-show="!artist.hasShows">	
					<label >No previous shows available.</label>
		  	</div>				
		  </div>
		  <!-- ALBUMS -->
		  <div class="col-md-6 col-xs-12">
		  	<div class="clearfix bottom-border">
					<label class="artist-sub-label">Albums</label>
				</div>
				<div class="artist-album-div" ng-show="artist.hasAlbums">
					<div class="col-sm-4 col-xs-6 image" ng-repeat="album in artist.displayAlbums" ui-sref="artist.albums({name: artist.artistName})">
						<img class="merch-event-tile" ng-src="{{album.pic}}">
						<h6 class="artist-merch-name"><span>{{album.name}}</span></h6>
					</div>				
				</div>
		  	<div class="clearfix bottom-border" ng-show="artist.hasAlbums">
					<label class="artist-sub-link" ui-sref="artist.albums({name: artist.artistName})" ng-click="">more albums <i class="ion-arrow-right-b"></i></label>
				</div>
		  	<div class="clearfix bottom-border" ng-show="!artist.hasAlbums">
					<label class="artist-sub-link">No albums available.</label>
				</div>													
		  </div>
		</div>  
	</div>  
</div>



