<right-sidebar>
</right-sidebar>

<div panel panel-class="" ng-class="{'panel-page' : expanded}">
  <div class="panel-content col-lg-12">

    <div class="row row-container">
      <label class="control-label heading-label">Profile Settings</label>
    </div>
    <!-- FORM -->
    <form class="form" role="form" name="profileForm" ng-submit="settings.submitProfileForm()" novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <!--PROFILE PICTURE -->
            <div class="col-md-6">
              <div class="form-group row clearfix pic-row">
                <label for="inputPicture" class="control-label">Profile Picture</label>
                <div class="">
                  <div class="userpic">
                    <div class="userpic-wrapper">
                      <img ng-src="{{ settings.picture }}" ng-click="settings.uploadPicture()">
                    </div>
                    <i class="ion-ios-close-outline" ng-click="settings.removePicture()" ng-if="!settings.noPicture"></i>
                    <a href class="change-userpic" ng-click="settings.uploadPicture()">Change Profile Picture</a>
                    <input type="file" ng-show="settings.false" id="uploadFile" ng-file-select="onFileSelect($files)">
                  </div>
                </div>
              </div>
            </div>
            <!-- BANNER PICTURE -->
            <div class="col-md-6">
              <div class="form-group row clearfix pic-row">
                <label for="inputPicture" class="control-label">Banner Picture</label>
                <div class="">
                  <div class="bannerpic">
                    <div class="bannerpic-wrapper">
                      <img ng-src="{{ settings.bannerPicture }}" ng-click="settings.uploadPicture()">
                    </div>
                    <i class="ion-ios-close-outline" ng-click="settings.removePicture()" ng-if="!settings.noPicture"></i>
                    <a href class="change-bannerpic" ng-click="settings.uploadPicture()">Change Banner Picture</a>
                    <input type="file" ng-show="settings.false" id="uploadFile" ng-file-select="settings.onFileSelect($files)">
                  </div>
                </div>  
              </div>
            </div>
          </div>  
        </div>  

        <!-- USERNAME AND EMAIL -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix" ng-class="{ 'has-error' : profileForm.username.$invalid &&  settings.submitted}">
                <label for="inputUsername" class="control-label">Username</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" value="" name="username" ng-model="settings.profile.username" ng-minlength="3" ng-maxlength="8" required>
                <div ng-show="settings.submitted">
                  <p ng-show="profileForm.username.$error.required" class="help-block">Enter a Username.</p>
                  <p ng-show="profileForm.username.$error.minlength" class="help-block">Username is too short.</p>
                  <p ng-show="profileForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                </div> 
              </div>
            </div>  
            <div class="col-md-6">
              <div class="form-group clearfix" ng-class="{ 'has-error' : profileForm.email.$invalid && settings.submitted}">
                <label for="inputEmail3" class="control-label">Email</label>
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" value="contact@akveo.com" name="email" ng-model="settings.profile.email" required>
                <div ng-show="settings.submitted">
                  <p ng-show="profileForm.email.$error.required" class="help-block">Enter an Email.</p>
                  <p ng-show="profileForm.email.$invalid && !profileForm.email.$error.required" class="help-block">Enter a valid email.</p>
                </div> 
              </div>
            </div>  
          </div>  
        </div>
        <!-- FIRST AND LAST NAME -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix" ng-class="{ 'has-error' : profileForm.firstname.$invalid && settings.submitted}">
                <label for="inputFirstName" class="control-label">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" value="Anastasiya" name="firstname" ng-model="settings.profile.firstname" required>
                <div ng-show="settings.submitted">
                  <p ng-show="profileForm.firstname.$error.required" class="help-block">Enter a First Name.</p>
                </div> 
              </div>
            </div>  
            <div class="col-md-6">    
              <div class="form-group clearfix" ng-class="{ 'has-error' : profileForm.lastname.$invalid && settings.submitted}">
                <label for="inputLastName" class="control-label">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" value="" name="lastname" ng-model="settings.profile.lastname" required>
                <div ng-show="settings.submitted">
                  <p ng-show="profileForm.lastname.$error.required" class="help-block">Enter a Last Name.</p>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <!-- DOB AND GENDER -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix" ng-class="{ 'has-error' : ((profileForm.day.$invalid || profileForm.month.$invalid || profileForm.year.$invalid) || !settings.validDate) && settings.submitted}">
                <label for="inputDOB" class="control-label">Date of Birth</label>
                  <div>
                    <div class="col-xs-4 form-day">
                      <input type="number" class="form-control" id="form-day" placeholder="DD" min="1" max="31" name="day" ng-model="settings.profile.day" ng-change="settings.validateDate()" required>
                    </div>
                    <div class="col-xs-4 form-month">
                      <input type="number" class="form-control" id="form-month" placeholder="MM" min="1" max="12" name="month" ng-model="settings.profile.month" ng-change="settings.validateDate()" required>
                    </div>
                    <div class="col-xs-4 form-year">
                      <input type="number" class="form-control" id="form-year" placeholder="YYYY" min="1900" max="2015" name="year" ng-model="settings.profile.year" ng-change="settings.validateDate()" required>
                    </div>
                  </div>  
                    <div ng-show="settings.submitted">
                      <p ng-show="profileForm.day.$pristine || profileForm.month.$pristine || profileForm.year.$pristine" class="help-block">Enter a DOB.</p>
                      <p ng-show="!settings.validDate && !(profileForm.day.$pristine || profileForm.month.$pristine || profileForm.year.$pristine) || (profileForm.day.$error.max || profileForm.month.$error.max || profileForm.year.$error.max || profileForm.day.$error.min || profileForm.month.$error.min || profileForm.year.$error.min)" class="help-block">Invalid Date.</p>
                    </div> 
              </div>
            </div>  
            <div class="col-md-6">    
              <div class="form-group clearfix">
                <label for="inputGender" class="control-label">Gender</label>
                    <select class="form-control" title="Gender" selectpicker>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- CHANGE PASSWORD -->
      <h3 class="with-line">Change Password</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix" ng-class="{ 'has-error' : profileForm.password.$invalid && settings.submitted}">
                <label for="inputPassword" class="control-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="" name="password" ng-model="settings.profile.password" ng-minlength="6" ng-maxlength="20" required>
                <div ng-show="settings.submitted">
                  <p ng-show="profileForm.password.$error.required" class="help-block">Enter a Password.</p>
                  <p ng-show="profileForm.password.$error.minlength" class="help-block">Password is too short.</p>
                  <p ng-show="profileForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                </div> 
              </div>
            </div>  
            <div class="col-md-6">    
              <div class="form-group clearfix" ng-class="{ 'has-error' : (profileForm.confirmPassword.$invalid || (profileForm.password.$error.required || profileForm.password.$error.minlength || profileForm.password.$error.maxlength))  && settings.submitted}">
                <label for="inputConfirmPassword" class="control-label">Confirm Password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" value="" name="confirmPassword" ng-model="settings.profile.confirmPassword" ng-minlength="6" ng-maxlength="20" ng-pattern="settings.profile.password" required>
                <div ng-show="settings.submitted">
                  <p ng-show="(profileForm.confirmPassword.$invalid && !profileForm.password.$error.pattern) || (profileForm.password.$error.required || profileForm.password.$error.minlength || profileForm.password.$error.maxlength)" class="help-block">Passwords don't match.</p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3 class="with-line">Privacy</h3>
      <div class="notification row clearfix">
        <div class="col-sm-6">
          <div class="form-group row clearfix">
            <label class="col-xs-6">Allow other users to see who you follow</label>
            <div class="col-xs-6">
              <switch color="primary" ng-model="settings.switches[0]"></switch>
            </div>
          </div>
          <div class="form-group row clearfix">
            <label class="col-xs-6">Allow other users to see your favourited videos</label>
            <div class="col-xs-6">
              <switch color="primary" ng-model="settings.switches[1]"></switch>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row clearfix">
            <label class="col-xs-6">Allow other users to see your score</label>
            <div class="col-xs-6">
              <switch color="primary" ng-model="settings.switches[3]"></switch>
            </div>
          </div>
          <div class="form-group row clearfix">
            <label class="col-xs-6">Allow other users to see your video ratings</label>
            <div class="col-xs-6">
              <switch color="primary" ng-model="settings.switches[4]"></switch>
            </div>
          </div>
        </div>
      </div>

      <h3 class="with-line">Send Email Notifications</h3>
      <div class="notification row clearfix">
        <div class="col-sm-6">
          <div class="form-group row clearfix">
            <label class="col-xs-6">Recieve weekly updates on the artists you follow</label>
            <div class="col-xs-6">
              <switch color="primary" ng-model="settings.switches[0]"></switch>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row clearfix">
            <label class="col-xs-6">Recieve updates on new and exciting features coming to you soon!</label>
            <div class="col-xs-6">
              <switch color="primary" ng-model="settings.switches[3]"></switch>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-with-icon save-profile">
        <i class="ion-android-checkmark-circle"></i>Update Profile
      </button>
    </form> 
  </div>
</div>
