<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss(); upload.openEditVideoModal(songs, videoId)" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Confirm Deletion.</h4>
  </div>
  <div class="modal-body">               
        <div>
          <p id="delete-confirm-message">Are you sure you want to delete this video?</p>
          <ul id="delete-options">
              <li><button type="button" class="btn btn-default" ng-click="$dismiss(); upload.confirmDeleteMessage()">Yes</button></li>
              <li><button type="button" class="btn btn-default" ng-click="$dismiss(); upload.openEditVideoModal(songs, videoId)">Cancel</button></li>
          </ul>
        </div>            
  </div>
</div>
