<div class="row">
	<div class="row merch-search-options">
		<div class="col-sm-6 col-xs-12">
			<div class="col-sm-8 col-sm-offset-3">
				<img class="merch-details" id="merch-pic" ng-src="{{merchProduct.selectedMerch.pic}}">
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="col-sm-8 col-sm-offset-3">
				<h4 class="merch-details">{{merchProduct.selectedMerch.name}}</h4>
				<h4 class="merch-details">{{merchProduct.selectedMerch.price | currency}}</h4>
				<div class="merch-details" id="merch-size">
					<h4 id="merch-size-label">Size: </h4>
					<select class="form-control merch-sort" placeholder="Best Match" ng-model="merchProduct.merchPurchaseDetails.size" ng-options="choice as choice for (idx, choice) in merchProduct.merchSize.split(',')">
			        </select>
			    </div>    
				<div class="merch-details" id="merch-quantity">
					<h4 id="merch-quantity-label">Quantity: </h4>
					<select class="form-control merch-sort" placeholder="Best Match" ng-model="merchProduct.merchPurchaseDetails.quantity" ng-options="choice as choice for (idx, choice) in merchProduct.merchQuantity.split(',')">
		            </select>
		        </div>    
				<button id="merch-buy-btn" class="btn btn-default" ng-click="merchProduct.openLink(merchProduct.selectedMerch.url)">Buy</button>
			</div>
		</div>
	</div>	
</div>